*{padding: 0; margin: 0; box-sizing: border-box;}

body, html {
	height: 100%;
  width: 100%;
	font-family: Georgia, sans-serif;
}

.section__button{
	padding: 1%;
	border: 1px solid black;
	border-radius: 50px;
	margin-left: 20%;
	background-color: white;
}

.section__button a{
	color: black;
	text-decoration: none;
}

.section__button:hover{
	background-color: #eee;
}


/* --- MENU --- */
.section__header{
	position: fixed;
	width: 100%;
	z-index: 5;
}

.nav-item{
  padding: 5%;
  margin-left: 10%;
}

.nav-item:hover{
  text-decoration: underline;
}

.section__home{
	padding-top: 3%;
}
/* --- BIOGRAFIA --- */
.section__biografia h1{
  padding: 5%;
  text-align: center;
}

.section__biografia p{
  text-align: left;
  margin-left: 30%;
  line-height: 2em;
  font-size: 120%;
}

/* --- PROGETTI --- */

.section__progetti h1{
	padding: 5%;
	text-align: center;
	align-items: center;
}

.row{
	margin-left: 5%
}

.hover:hover{
	opacity: 0.6;
	padding: 3%;
}

/* --- CONTATTI --- */

.section__contatti h1{
	padding-top: 5%;
	text-align: center;
	align-items: center;
}

.section__contatti p{
 text-align: center;
 padding: 5%;
 font-size: 30px;
 padding-bottom: 10%;
}

.mail{
	color: black;
	border: 1px solid black;
	border-radius: 50px;
	padding: 1%;
	text-decoration: none;
}

.mail:hover{
	background-color: purple;
	color: white;
}

/* --- FOOTER --- */

.section__footer{
  text-align: center;
  font-family: Georgia;
	border: 1px solid black;
}

.fa{padding: 1%;
     text-decoration: none;
     color: black;
		 margin-left: 1%
}
.fa:hover{color: purple;}



/* ------------------------------------------ */
/* --------------SMARTPHONE------------------ */
/* ------------------------------------------ */

@media only screen and (max-width: 480px) {

	.section__home{
		padding-top: 20%;
	}

.section__biografia p{
  margin: 5%;
  font-size: 80%;
}

.section__progetti img{
	float: left;
width: 60%;
margin: 15%;
}



}
/* ------------------------------------------ */
/* ----------------TABLET-------------------- */
/* ------------------------------------------ */

@media only screen and (min-width: 481px) and (max-width: 960px) {

	.section__home{
		padding-top: 20%;
	}

.section__biografia p {
  margin: 5%;
}

.section__progetti img{
	float: left;
width: 60%;
margin: 10%;
}

.hover{
	margin-left: 15%;
}

.section__contatti{
	font-size: 10px;
}

}
/* ------------------------------------------ */
/* ----------------DESKTOP--------------------*/
/* ------------------------------------------ */
@media only screen and (min-width: 961px) and (max-width: 2000px) {
  .section__biografia p {
    margin: 5%;
  }
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }
